<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <title></title>
  </head>
  <body>
    <form action="/home" method="post">

    <% var i; %>
    <% for (i = 0; i < 10; i++) { %>

    <h1>hi <%= abc %> </h1>

    <%} %>
   <h2> hello world ejs <%= abc %> </h2>
   <input type="text" name="intext" value="">
  <input type="submit" name="submit" value="submit">
 </form>
  </body>
</html>
